@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  background-color: #2b4865;
  color: #fff;
}

header {
  min-height: 100vh;
  background: url('../images/bg-image.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

header h1 {
  font-family: 'Berkshire Swash', cursive;
  color: #ff5e19;
}

.card {
  background-color: #002b5b;
  border: none;
}

.btn-background {
  background-color: #256d85;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

p.expense-amount-color,
span.expense-amount-color {
  color: #ff9e75;
}
